# Node.js
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
.env

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Builds
build/
dist/

# React
frontend-ui/build/

# Uploads
backend/uploads/

# Virtual Environments (if any)
venv/
.env/

backend/.env
